<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ExcelPath" value="c:/temp/data/"/>    
    <add key="OrganizationEndPointURI" value="https://talisman.carbonclear.co.za:444/XRMServices/2011/Organization.svc"/>
    <add key="logdb" value="Server=localhost;Database=solcrmexcelsync;Trusted_Connection=True;"/>
    <add key="talismanSqlConnectionString" value="Server=196.41.139.38;Database=sol_tbcrm;User ID=UWHX-ZA11424;Password=UWHX-ZA11424;"/>
    <add key="CRMServiceUserName" value="CARBONCLEAR\Anthonie"/>
    <add key="CRMPassword" value="!!Password!!"/>
  </appSettings>
</configuration>
