<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ExcelPath" value="c:/temp/data/"/>    
    <add key="OrganizationEndPointURI" value="http://crm.pecs.co.za:5555/PECorporateServices/XRMServices/2011/Organization.svc"/>
    <add key="logdb" value="Server=localhost;Database=solcrmexcelsync;Trusted_Connection=True;"/>
  </appSettings>
</configuration>
